@import url("https://fonts.googleapis.com/css?family=Dosis|Great+Vibes&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

.button {
  @apply bg-pink-900;
  @apply text-yellow-100;
  @apply uppercase;
  @apply px-4;
  @apply py-2;
  @apply rounded-sm;
  @apply font-bold;
  @apply shadow-full;
  @apply cursor-pointer;
  transition: all 0.3s ease-in-out;
}

.button:hover {
  @apply shadow-half;
}

.button:disabled {
  box-shadow: none;
}

.text-field {
  @apply w-full;
  @apply mb-4;
  @apply border-blue-200;
  @apply border-b-4;
  @apply rounded-md;
  @apply px-2;
  @apply py-1;
  transition: all 0.3s ease-in-out;
}

.text-field:focus {
  @apply border-pink-200;
}

.text-field:disabled {
  @apply border-purple-200;
}

.flag-image {
  display: inline-block;
  border: 1px solid black;
}

.dropdown-select .dropdown-select__indicator svg {
  @apply fill-current;
  @apply text-blue-200;
}

.dropdown-select .dropdown-select__indicator-separator {
  @apply bg-blue-200;
}

.dropdown-select .dropdown-select__control {
  @apply border-blue-200;
  @apply border-0;
  @apply border-b-4;
}

.dropdown-select .dropdown-select__single-value {
  @apply text-black;
}

.player-grid {
  grid-template-columns: 1fr 3fr;
  align-items: center;
}
